/*-- Cuerpo,Inicio_Texto --*/
*{
    margin: 0;
    Padding:0;
    font-family: "open Sans", sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, rgb(59,154,237) 11%,rgb(130,229,226) 50%,rgb(59,154,237) 87%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*-- Cuerpo,Inicio_Texto --*/

/*-- Cabecera --*/
.navbar {
 background: linear-gradient(to right,  #000000 0%,#c42778 100%); 
}
.navbar-nav .dropdown-menu {
    position: static;
    background: linear-gradient(135deg, rgba(196,39,120,1) 0%,rgba(122,39,232,1) 100%);
}

.navbar-nav .dropdown-item{
     background: linear-gradient(135deg, rgba(196,39,120,1) 0%,rgba(122,39,232,1) 100%);
     color: #ffffff;
}
.cabecera{
    position: relative;
    height: 130px;
}
.contenedor{
    width: 80%;
    max-width: 2000px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
/*-- Cabecera --*/

/*-- Pagina Cuerpo --*/
.titulo{
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid #ffffff;
    text-transform: uppercase;
}
.page-content{
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template: repeat(2,300px)/ repeat(3,280px);
    justify-content: center;
    grid-gap: 30px;
    width: 100%;
    height: auto;
    margin: 0px;
}
.page-content a{
    font-size: 20px;
    text-decoration: none;
}
.producto{
    background: linear-gradient(135deg,  rgba(196,39,120,1) 0%,rgba(122,39,232,1) 100%);
    width: 280px;
    height: 300px;
    display: flex;
    flex-flow: column;
    border-radius: 20px;
    box-shadow: 0px 0px 0.1em #ffffff;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.producto:hover{
    box-shadow:  10px 10px 0.1em  #ffffff;
}
.producto  img {
    padding-top: 5px;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}
.informacion{
    border-top: 3px solid #ffffff;
    padding: 20px;
    flex-flow: column;
    text-align: center;
    color: #ffffff;
}
.informacion * + *{
    display: block;
    margin-top: 10px;
}

.separacion{
    padding-left: 5px;
}
.separacion::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: black;
    content: var(--bs-breadcrumb-divider, "/");
}
#TextoDirec{
    color: black;
    text-decoration: none;
}
/*-- Pagina Cuerpo --*/

/*-- Cuenta --*/
.customer-sidebar  {
  background: linear-gradient(135deg, rgb(59,154,237) 11%,rgb(130,229,226) 50%,rgb(59,154,237) 87%);
}
.customer-sidebar .list-group-item {
  background: linear-gradient(135deg, rgb(59,154,237) 11%,rgb(130,229,226) 50%,rgb(59,154,237) 87%);
}
.subTitulo{
    font-size: 20px;
    border-bottom: 2px solid #ffffff;
    text-transform: uppercase;
}
/*-- Cuenta --*/

/*-- Cabecera --*/
.tabla {
 background-color: white;
 padding: 100px;
}

/*-- Cabecera --*/


/*-- footer --*/
.textofinal{
    display: inline-flex;
}
.footer{
    margin-top: auto;
    background: linear-gradient(to right,  #000000 0%,#c42778 100%); 
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    padding-top: 30px;
    padding-bottom: 30px;
}

.w3_footer_grid h3{
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 2em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
}
.w3_footer_grid h3:after{
    content:'';
    background:#ffffff;
    width:20%;
    height:2px;
    position:absolute;
    bottom:0;
    left:0;
}
.w3_footer_grid p{
    color:#ffffff;
    line-height:1.8em;
    margin-bottom:2em;
}
.w3_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color:#ffffff;
    font-size: 14px;
}
.w3_footer_grid ul.address li i {
    color:#414141;
    border: 1px solid #414141;
    padding: .5em;
    margin-right: 1em;
}
.w3_footer_grid ul.address li span {
    display: block;
    margin-left: 3em;
}
.w3_footer_grid ul li a {
    color:#ffffff;
    text-decoration: none;
}
.w3_footer_grid ul li a:hover {
    color:black;
}

.footer-copy p{
    margin:4em 0 0;
    text-align:center;
    color:#ffffff;
    line-height:1.8em;
}
.footer-copy p a{
    color:yellow;
    text-decoration:none;
}
.footer-copy p a:hover{
    color:black;
}
/*-- //footer --*/
@media screen and (max-width: 600px) {
    .producto{
        grid-template: repeat(3,300px) / repeat(1,300px);
    }
}



